@model Asp26.Models.Cliente
@{
    ViewData["Subtitle"] = "Adicionar cliente";
}

<h1 class="Titulo">@ViewBag.Subtitle</h1>
<hr />

<div class="card bg-light p-5">
    <form asp-controller="Home" asp-action="Adicionar_Cliente">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <br />
            @Html.TextBoxFor(model => model.Nome)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefone)
            <br />
            @Html.TextBoxFor(model => model.Telefone)
        </div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar</a>
        <button class="btn btn-primary">Salvar</button>
    </form>
</div>

